.body_wrapper {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(
    to top,
    rgba(190, 235, 233, 1) 10%,
    rgba(190, 235, 233, 0.75) 25%,
    rgba(190, 235, 233, 0.5) 50%,
    rgba(190, 235, 233, 0.25) 75%,
    rgba(190, 235, 233, 0) 100%
  );
}

.body_content {
  padding-bottom: 90%;
  padding-top: 75px;
}

.footer {
  height: 300px;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
}

.banner {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 60px;
  font-weight: bold;
}

.text {
  position: absolute;
  margin-top: 13%;
  margin-left: 5%;
  font-family: NanumGothic;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.map {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4%;
  margin-left: 70%;
}

.map div {
  margin: 25% 0;
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.map a {
  text-decoration-line: none;
  color: white;
}

.map a:hover {
  color: #ffc23c;
  font-weight: bold;
}

@media (max-width: 900px) {
  .text {
    width: 50%;
    margin-top: 25%;
    font-size: 4px;
    font-weight: 200;
    line-height: 24px;
  }

  .map {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
  }

  .map div {
    width: 100%;
    font-size: 12px;
  }
}

@media (min-width: 900px) {
  .map {
    position: absolute;
  }
}
