.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(51, 51, 255);
  z-index: 1;
  height: 6%;
}

.header > div {
  display: inline-block;
  padding-bottom: 5px;
  vertical-align: middle;
  margin-bottom: 50px;
}

.header__home span {
  margin-bottom: 10px;
}

.header__LNB {
  display: inline-block;
  /* justify-content: right; */
  /* vertical-align: middle; */
  width: 90%;
  margin-top: 5px;
  margin-right: 5%;
  text-decoration-line: none;
  height: 100%;
}

.header__LNBItem {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}

.header__LNBItem li:hover {
  color: orange;
}

.header__LNBItem > li {
  float: right;
  margin: 0 16px;
  font-weight: bold;
}

.header__LNBItem a {
  text-decoration-line: none;
  font-size: 32px;
  color: black;
}

.header__LNB__UL {
  list-style: none;
  text-decoration-line: none;
  text-align: left;
}

.header__LNB__UL li {
  border: 1px solid black;
  border-bottom: 1px solid black;
}

a.active {
  color: orange;
  text-decoration: underline;
}
