.detail {
  margin: 5% auto;
  border: 1px solid black;
  width: 70%;
  height: 100%;
  border-radius: 15%;
}

.title {
  padding-top: 5%;
  font-size: 48px;
  font-weight: bold;
}

.date {
  float: right;
  padding-top: 50%;
}

.button button {
  border: 1px solid #61f2f5;
  background-color: #61f2f5;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.button button:hover {
  color: white;
}

@media (max-width: 1220px) {
  .detail {
    width: 90%;
  }

  .title {
    font-size: 16px;
  }

  .date {
    font-size: 2px;
  }
}
