/* .board {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 15%;
  width: 50%;
  height: 60%;
  padding: 20px;
}

.title {
  text-align: center;
} */

.content {
  text-align: center;
}

.detail {
  margin: 5% auto;
  border: 1px solid black;
  width: 70%;
  height: 100%;
  border-radius: 15%;
}

.button button {
  border: 1px solid #61f2f5;
  background-color: #61f2f5;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.button button:hover {
  color: white;
}
