.calendar {
  float: right;
  margin-top: 10%;
  margin-right: 30px;
  width: 25%;
  font-size: 12px;
  vertical-align: middle;
}

.board {
  float: left;
  width: 60%;
  margin-top: 10%;
  margin-left: 5%;
  text-align: center;
}

.board table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
.board th,
.board td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
.board th:first-child,
.board td:first-child {
  border-left: none;
}
