.calendar {
  float: right;
  margin-top: 10%;
  margin-right: 30px;
  width: 20%;
  font-size: 12px;
  vertical-align: middle;
}

.board {
  float: left;
  width: 70%;
  margin-top: 10%;
  margin-left: 3%;
  text-align: center;
}

.board a:hover {
  font-weight: 800;
}

.board button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  margin: 0;
  margin-bottom: 5%;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  width: auto;

  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
  color: #ffffff;
  background: #0d6efd;
}

.board button:hover {
  background: #025ce2;
}

.board table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
  table-layout: fixed;
}
.board th,
.board td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
.board th:first-child,
.board td:first-child {
  border-left: none;
}
