.HistoryMain {
  width: 70%;
  float: right;
  margin: 5% 5%;
  text-align: center;
  background: rgb(248, 237, 242);
}

.HistoryContent {
  border: 2mm groove black;
  white-space: pre-wrap;
  line-height: 25px;
  z-index: 1;
  padding-left: 20px;
  text-align: left;
}
